.App {
  text-align: center;
  display: flex;
  height: min-content;
}

.App-link {
  color: #61dafb;
}

nav a{
  color: #FFFFFF;
  font-weight: 600;
  text-decoration: none;
}

nav{
  padding: 20px;
  min-height: 100vh;
  background-color: #192F48;
}

a:hover{
  opacity: 0.5;
}
